.gameMeta {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;
  align-content: flex-start;
  font-size: smaller;
  font-family: Monaco, monospace;

  .info {
    font-weight: normal;

    .dynamicInfo {
      font-weight: bolder;
    }
  }
}