.tetris {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .main {
      flex-flow: row wrap;
    }

    .opponents {
        flex: initial;
        display: flex;
        flex-direction: column;
    }
}